<launch>

        <!-- Some general parameters -->
        <param name="use_sim_time" value="true" />
        <rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

        <!-- Start the Operator to control the simulated robot -->
        <node name="Operator" pkg="nav2d_operator" type="operator" >
                <!-- <remap from="scan" to="base_scan"/> -->
                <remap from="cmd_vel" to="mobile_base/commands/velocity"/>
                <rosparam file="$(find nav2d_tutorials)/param/operator.yaml"/>
                <rosparam file="$(find nav2d_tutorials)/param/costmap.yaml" ns="local_map" />
        </node>

	<!-- Start Stage simulator with a given environment -->
	<node name="Stage" pkg="stage_ros" type="stageros" args="$(find nav2d_tutorials)/world/tutorial.world">
		<param name="base_watchdog_timeout" value="0" />
	</node>

	<!-- Start the joystick-driver and remote-controller for operation-->
	<node name="Joystick" pkg="joy" type="joy_node" />
	<node name="Remote" pkg="nav2d_remote" type="remote_joy" />



</launch>

