<launch>
     <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
             <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/dummy.yaml"/>
     <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">

     <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
        Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
             <arg name="scan_topic" value="/scan" />
     </include>

 </launch>